@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Bishop Zack J.  Masebe<br /> <br />
    Benoni Ward<br /> <br />
    33 Turvey Street<br /> <br />
    South Africa<br /> <br />
    (011)-421-5185<br /> <br />
</address>


